
*
/* HEADER AND NAV  */
header{
  height: 100vh;
  background-position: center;
}
  .main-nav{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.nav{
  text-align: right;
}
.nav li{
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
.nav li:last-child{
  margin-right: 0;
}
.main-header a:hover{
  color: #648880;
}

/* LOGO */
.logo{
  /*border-top: 4px solid black;*/
  float:left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 20px 0 22px 0;
  text-transform: uppercase;
}

/* Main Page*/
.title{
  text-transform: uppercase;

  color: #fff;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}
.title h1{
  font-size: 40px;
}


/* TYPOHRAPHY */

/*-- font-family: 'Lato', sans-serif;{ -- */

h1, h2, h3,h4 ,h5{

}
h2{
  font-size: 24px;

}
h3{
  font-size: 17px;
}
body{
  font-size: 17px;
}
/* BODY */
body{
  background: #03a3df;
  color:#1b447f;
  font: 300 40px, Arial Bold;
}
/* container */
.containers{
  margin: 0 auto;
  width: 960px;
  padding-left: 15px;
  padding-right: 15px;
}
/* GROUPS */
.groups{


}
/* ROW */
.row{
  background: #fff;
  padding: 66px 0 44px 0;
}
.row, .row-alt{
  min-width: 960px;
}
/*.row-alt{
  background: #cbe2c1{
  }*/

/* GRID */
.grid{
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 960px;
  padding: 44px 0 22px 0;
}
.col1-2{
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
}
/* BUTTON */
.button {
margin-top: 30px;
margin-left: 50px;
}
.btn {
  border: 1px solid white;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  margin-right: 5px;
  font-size: 13px;
  text-transform: uppercase;

}

.btn-one {
  background-color: gray;
  font-family: "Arial", sans-serif;
  font-style: italic;
}

.btn-two {
  font-family: "Arial", sans-serif;
  font-style: italic;
}

.btn-two:hover {
  background-color: white;
  transition: all 0.5s ease-in;
}
/* GRID */
/* Request More Information*/

/*-- Contact form --*/
form{
  margin-bottom: 22px;
}
input, textarea{
  font: 300 16px/22px, Arial;
}
.contact-form label{
  color:#648880;
  cursor: pointer;
  font-weight: 400;
}
.contact-form input,
.contact-form textarea{
  border: 1px solid #c6c9cc;
  border-radius: 4px;
  color: #888;
  display:block;
  margin: 5px 0 27px 0;
  padding: 8px 7px;
}
.contact-form input,
.contact-form textarea{
  width: 100%;
}
.contact-form textarea{
  height: 78px;
}

/* Service.html */

/* contact.html */

/* registration.html */
.details, h6{
  text-align: center;
}
h6{
  font-size: 19px;
}
.details{
  font-family:cursive;
}
.btn-default{
  border: 0;
  background: #648880;

}

/* FOOTER */
.main-footer{
  color: #648880;
  font-size: 14px;
  padding-top: 44px;
  padding-bottom: 44px;
}
.main-footer li{
  margin: 0 10px;
  text-align:center;
  display: inline-block;
}
.main-footer li:last-child{
  margin-right: 0;
}
